<template>

    <div class="content-page">
        <img src="./assets/images/logo.png" class="logo">
        <h1 class="title">Rencontres | Évènements | Écologique | Solidaire</h1>
        <h3 class="text">Brace yourself REES is coming</h3>
    </div>
</template>

<script>
  export default {
    name: 'App',
    components: {
    }
  }
</script>

<style lang="scss">
  .content-page {
    background: url("./assets/images/home-background.jpg") 
                no-repeat 
                center 
                center fixed;
    background-size: cover;
    height: 100%; 
    padding-bottom: 14.5%;
    font: Futura;
  }

  .logo {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    animation-duration: 3s;
    animation-name: slidein;
    font: Futura;
  }

  @keyframes slidein {
    from {
      margin-left: -100%;
    }

    to {
      margin-left: 25%;
      width: 50%;
    }
  }

  .title {
    color: #FFFFFF;
    margin-top: -5%;
    margin-left: 20%;

    animation-duration: 4s;
    animation-name: showtitle;
    font-family: Futura;
  }

  @keyframes showtitle {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .text {
    color: #FFFFFF;
    margin-left: 42%;

    animation-duration: 4s;
    animation-name: showtitle;
    font-family: Futura;
  }

  @keyframes showtitle {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
</style>
